.addmark {
    color: #777777;
    text-decoration: line-through;
}
#primary-content .btn-block{
background : #000;
}

body .col-md-6{
	width : 30%;
}
body .page-header{
	width : 30%;
}
body .toggletext{
	margin-left: 10px;
}
img:hover{
	cursor : pointer;
};